<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About page</title>
</head>

<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 ">
                    <h2 class="display-5 mb-4">About SmartContactManager</h2>
                    <p class="lead">
                        Smart Contact Manager is a powerful and easy-to-use web application designed to help users
                        efficiently manage their personal and business contacts. With features like quick search,
                        categorization, and integration with popular platforms, you can keep all your contacts
                        organized in one place.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>