<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:insert="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>home page</title>
</head>

<body>
    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="fw-bold">SmartContactManager</h1>
            <p>"Smart Contact Manager helps users efficiently organize, search, and manage personal and business contacts effortlessly."</p>
            <div>
                <button class="btn btn-primary btn-lg text-white">Get start !</button>
            </div>
        </div>
    </section>


</body>

</html>